body {
  
}

div {

}

ul {
  border: 2px solid #1FC5D8;
  width: 400px;
  height: 300px;
  margin: 0;
  padding: 0;

}

button {
  background-color: #1FC5D8;
  color: white;
  width: 400px;
  min-height: 50px;
  Text-align: left;
  font-size: 18px;

}

p {
  color: grey;
  width: 380px;
  padding-left: 10px;
  background-color: #fff;

}

.accordion {
  margin: 0;
  max-height: 0;
  overflow: visible;
  background-color: #fff;
  transition: all 0.4s ease;

}

.accordion.open {
  padding: 10px;
  max-height: 400px;
}
